html {
  height: 628px;
  width: 414px;
  margin: 0;
  padding: 0;
}

body {
  height: 628px;
  width: 414px;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.container {
  height: 628px;
  width: 414px;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

body {
  font-family: avenir next;
  background-color: rgb(163, 205, 224);
  width: 414px;
  height: 628px;
}

.logo {
  display: block;
  margin: 0px auto;
}

h1 {
  text-align: center;
  margin: 0px;
  position: relative;
  top: 5px;
  bottom: 5px;
}

p {
  text-align: center;
  font-size: 22px;
  line-height: 25px;
  position: relative;
  top: 10px;
}

#q {
  height: 300px;
  position: relative;
  left: 80px;
  top: -30px;
}

button {
  background-color: #E6E6E6;
  border: none;
  text-align: center;
  font-family: avenir next;
  font-size: 22px;
  padding: 10px 35px;
  border-radius: 8px;
  position: relative;
  left: 15px;
}

#pButton {
  left: 25px;
}

#nButton {
  left: 35px;
}

#qButton {
  left: 45px;
}

#s {
  height: 120px;
  width: 90px;
  position: relative;
  left: 40px;
  top: 20px;
}

#i {
  height: 120px;
  width: 90px;
  position: relative;
  right: 5px;
  left: 60px;
  top: 20px;
}

#c {
  height: 120px;
  width: 90px;
  position: relative;
  right: 5px;
  left: 85px;
  top: 20px;
}

#p {
  height: 100px;
  width: 110px;
  position: relative;
  left: 45px;
  top: 20px;
}

#y {
  height: 100px;
  width: 110px;
  position: relative;
  left: 110px;
  top: 5px;
}

#next {
  position: relative;
  top: 100px;
  left: -70px;
}

#noicy,
#spicy,
#thiccy {
  padding: 10px 20px;
}

#noicy {
  left: 20px;
}

#spicy {
  left: 30px;
}

#thiccy {
  left: 40px;
}

#oric {
  top: 15px;
  left: 60px;
}

#finish {
  position: relative;
  top: 320px;
  left: 135px;
}

#menu {
  position: relative;
  top: 200px;
  left: 135px;
}